:root {
    --title: #202020;
    --title-size: 14px;
    --colortext: #505050;
    --colornote: #808080;
    --colorbtn: #0a6cdc;
    --texweigh: 600;
}

.container {
    box-sizing: border-box;
    width: 100%;
}

.cart-link {
    width: 100%;
    padding: 17px 0px 15px 0px;

    a {
        text-decoration: none;
        color: var(--colornote);
        font-size: var(--title-size);
    }

    span {
        color: var(--colornote);
        font-size: var(--title-size);
        padding: 0px 5px;
    }
}

h1 {
    font-size: 20px;
    color: var(--title);
    margin-bottom: 30px;
}

.cart-note {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    align-items: center;
    background-color: #fbf8e5;
    margin: 24px 0px 35px 0px;
    padding: 14px 15px 12px;

    box-sizing: border-box;

    img {
        width: 22px;
    }

    span {
        color: #8b714a;
        font-size: var(--title-size);
        margin-left: 10px;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;

    box-sizing: border-box;

    .cart-lists {
        width: 70%;
        margin-right: 30px;
        box-sizing: border-box;

        &__header {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;

            align-items: center;
            background-color: #fafafa;
            padding: 12px 0px 12px 20px;
            box-sizing: border-box;

            div {
                font-size: var(--title-size);
                color: var(--colortext);
                font-weight: var(--texweigh);
            }

            :nth-child(1) {
                width: 55%;
            }
            :nth-child(2) {
                width: 15%;
            }
            :nth-child(3) {
                width: 15%;
            }
            :nth-child(4) {
                width: 15%;
            }
        }

        &__item {
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;
            display: flex;

            flex-wrap: nowrap;
            justify-content: left;
            align-items: center;
            padding: 25px;

            border: solid 1px #e6e6e6;

            :nth-child(1) {
                width: 55%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: left;

                align-items: center;

                img {
                    width: 100px;
                }

                div {
                    width: auto;
                    margin-left: 20px;
                    span {
                        width: 100%;
                        font-size: 14px;
                        color: var(--title);
                    }

                    small {
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        color: var(--colortext);
                        font-size: 12px;

                        img {
                            width: 15px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            :nth-child(2) {
                width: 15%;
                padding-left: 10px;
                font-size: 15px;
                color: var(--colortext);
            }
            :nth-child(3) {
                width: 15%;
                padding-left: 25px;

                input {
                    padding: 7px 10px 15px 18px;
                    background-color: #ffffff00;
                    border: solid #505050 1px;
                }
            }
            :nth-child(4) {
                width: 10%;
                color: var(--colortext);
                font-size: 16px;
                font-weight: 600;

                // padding-left: 40px;
            }
            :nth-child(5) {
                width: 5%;
                img {
                    width: 20px;
                }
            }
        }

        &__gift {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;

            align-items: center;
            margin-top: 25px;

            img {
                width: 18px;
                padding-right: 10px;
            }

            p {
                font-size: 14px;
                color: var(--colortext);
                padding-right: 10px;
            }

            a {
                padding: 5px 15px;
                text-decoration: none;
                color: var(--title);
                font-size: 14px;

                border: solid #202020 1px;
            }
        }

        &__comment {
            width: 100%;
            margin: 23px 0px 0px;
            span {
                font-size: 15px;
                color: var(--title);
                font-weight: 600;
                // padding-bottom: 7px;
            }
            textarea {
                width: 60%;
                margin-top: 20px;
                padding: 10px 12px 5px;
                height: 98px;
            }
        }
    }

    .cart-ordersummary {
        width: 30%;
        box-sizing: border-box;

        &__header {
            width: 100%;
            padding: 12px 0px 10px;
            div {
                font-size: 14px;
                color: var(--colortext);
                font-weight: var(--texweigh);
            }
        }

        &__total {
            width: 100%;
            padding: 31px 0px 15px;
            margin-bottom: 12px;
            display: flex;

            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            border-top: solid 2px #202020;
            border-bottom: solid 1px #808080;

            :nth-child(1) {
                font-size: 14px;
                color: #202020;
                font-weight: var(--texweigh);
            }
            :nth-child(2) {
                font-size: 18px;
                color: var(--title);
                font-weight: var(--texweigh);
            }
        }

        h3 {
            font-size: 15px;
            color: var(--title);
            font-weight: var(--texweigh);
            margin-bottom: 16px;
        }

        &__shipfrom {
            width: 100%;

            #nation {
                width: 100%;
                padding: 0px 32px 5px 12px;
                font-size: 14px;
                color: #3c3c3c;

                height: 45px;
                line-height: 45px;
                border: solid #808080 0.5px;
            }

            div {
                width: 100%;
                margin-top: 20px;

                #none {
                    width: 48%;
                    height: 45px;
                    line-height: 45px;
                    padding: 0px 32px 5px 12px;

                    font-size: 14px;
                    color: #3c3c3c;
                }

                .none-input {
                    width: 37%;
                    height: 36px;
                    line-height: 45px;
                    padding: 0px 32px 5px 12px;

                    font-size: 14px;
                    color: #3c3c3c;
                    margin-left: 10px;
                }
            }

            .calcu {
                width: 100%;
                border-radius: 30px;
                padding: 14px 15px 12px;
                margin: 15px 0px;

                font-size: 14px;
                color: var(--title);
                font-weight: var(--texweigh);
                background-color: #ffff;

                border: solid 1px #202020;
            }

            .coupon {
                width: 100%;
                // box-sizing: border-box;
                display: flex;
                flex-direction: column;

                justify-content: left;
                align-items: left;

                span {
                    width: 100%;
                    font-size: 15px;
                    color: var(--title);
                    font-weight: var(--texweigh);

                    margin-bottom: 15px;
                }

                .coupon-input {
                    width: 90%;
                    height: 36px;
                    // line-height: 45px;
                    // padding: 0px 32px 5px 12px;

                    font-size: 14px;
                    color: #3c3c3c;
                    // margin-left: 10px;
                }

                p {
                    margin-top: 15px;
                    color: var(--colortext);
                    font-size: 14px;
                    margin-bottom: 25px;
                }
            }

            .total {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                align-items: center;
                margin-bottom: 25px;

                span {
                    color: var(--title);
                    font-size: 18px;
                    font-weight: var(--texweigh);
                }
            }

            .checkbox {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                justify-content: left;

                p {
                    margin-left: 10px;
                    color: var(--colortext);
                    font-size: 14px;
                }
            }

            .btn {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: cebter;

                #checkout {
                    width: 100%;
                    padding: 14px 15px 12px;
                    border-radius: 30px;
                    border: solid 1px #808080;
                    margin-bottom: 20px;

                    background-color: #0a6cdc;
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                }
                #shopping {
                    width: 100%;
                    padding: 14px 15px 12px;
                    border-radius: 30px;
                    border: solid 1px #808080;
                    
                    margin-bottom: 20px;
                    background-color: white;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}
