{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParents": "avoid",
        "semi": true,
        "trailingComma": "none",
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 120,
        "jsxSingleQuote": true
      }
    ],
    "react-hooks/rules-of-hooks": 0, // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}