$bg_sale: #ffd8d7;
$sale_text: #e10600;

$bg_new: #d2e7ff;
$text_new: #0a6dcd;

.column {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;

  &:hover {
    .productImage {
      .btn-quickview {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.box {
  background: #fff;
  height: 100%;
  .productImage {
    position: relative;
    a {
      display: block;
      width: 100%;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product-label {
      position: absolute;
      top: 10px;
      left: 10px;

      .label {
        border-radius: 3px;
        min-width: 57px;
        min-height: 30px;
        padding: 4px 10px 3px;
      }

      .label-sale {
        background-color: $bg_sale;
        color: $sale_text;
        margin-bottom: 5px;
      }

      .label-new {
        background-color: $bg_new;
        color: $text_new;
        border: 1px solid $bg_new;
        padding: 4px 10px 2px;
        margin-bottom: 5px;
      }
    }

    .btn-quickview {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      z-index: 2;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 0;
      padding: 5px 5px 4px;
      min-width: 100px;
      min-height: 30px;
      border-radius: 30px;
      transition: all 0.3s ease;
      border: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  .content {
    padding: 40px 20px 20px 20px;

    .title {
      margin-bottom: 15px;
    }

    .priceContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;

      .priceSale {
        color: $sale_text;
        font-weight: 700;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;

      a {
        text-align: center;
        outline: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 30px;
        padding: 9px 15px 7px !important;
        border: 1px solid black;
        min-width: 130px;
        max-width: 100%;
        transition: all 0.3s ease;
        text-decoration: none;
        color: black;

        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
