* {
  margin: 0;
  padding: 0;
}

i {
  font-size: 20px;
}

// header main

.header-top {
  max-width: 100%;
  height: auto;
  background-color: #161880;
  box-sizing: border-box;

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 18px 100px;
  }
}

.header-logo {
  img {
    width: 180px;
  }
}

.nav-search {
  width: 600px;
  height: 48px;
  background-color: #ffff;
  border-radius: 25px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  .search-form {
    width: 90%;
    input {
      border: none;
      font-size: 16px;
      width: 100%;
    }
    input:focus {
      outline: 0;
    }
  }

  .search-icon {
    width: 5%;
    a {
      color: #161880;
      i {
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
}

.append {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #ffff;
  }

  div {
    padding-left: 20px;
  }

  .number-phone {
    a {
      color: #ffff;
      text-decoration: none;

      span {
        font-size: 14px;

        a {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .header-cart {
    .cart-list {
      display: flex;
      flex-direction: column;
    }
    .header-wishlist {
      div {
        display: flex;
        flex-direction: column;

        img {
          width: 50px;
        }
      }
    }

    .cart-item {
      position: relative;

      .cart-count {
        position: absolute;
        top: -40px;
        width: 15px;
        height: 15px;

        background-color: #0a6cdc;
        border-radius: 15px;
        right: -5px;
        padding: 5px 5px;
      }
    }
  }
}

// main menu

.main-menu {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #161880;

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 18px 100px;
  }
}

.menu-left {
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #ffff;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .max-left {
      margin-left: 30px;
    }
  }
}

.menu-right {
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #ffff;
      }
    }

    .max-right {
      margin-right: 30px;
    }
  }
}
