* {
  margin: 0;
  padding: 0;
}

i {
  font-size: 20px;
}

// header main

.header-top {
  width: 100%;
  height: auto;
  background-color: #161880;
  box-sizing: border-box;

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0px;
  }
}

.logo-main {
  width: 20%;
}

.header-logo {
  width: 100%;
  img {
    width: 80%;
  }
}

.nav-main {
  width: 60%;
}

.nav-search {
  width: 80%;
  height: 48px;
  background-color: #ffff;
  border-radius: 25px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  .search-form {
    width: 90%;
    input {
      border: none;
      font-size: 16px;
      width: 100%;
    }
    input:focus {
      outline: 0;
    }
  }

  .search-icon {
    width: 5%;
    a {
      color: #161880;
      i {
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
}

.apend-main {
  width: 20%;
}

.append {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    text-decoration: none;
    color: #ffff;
  }

  div {
    padding-left: 20px;
  }

  .number-phone {
    width: 40%;

    a {
      color: #ffff;
      text-decoration: none;

      span {
        font-size: 14px;

        a {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  .header-wishlist {
    width: 20%;
    margin: 0;
    padding: 0;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img {
        width: 35px;
      }
    }
  }

  .header-cart {
    width: 20%;

    .cart-list {
      display: flex;
      flex-direction: column;

      .cart-icon {
        width: 35px;
      }
    }

    .cart-item {
      position: relative;

      .cart-count {
        position: absolute;
        top: -40px;
        width: 15px;
        height: 15px;

        background-color: #0a6cdc;
        border-radius: 15px;
        right: -5px;
        padding: 5px 5px;
      }
    }
  }
}

// main menu

.main-menu {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #161880;

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;
  }
}

.menu-left {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items:;

    li {
      list-style: none;
      padding: 10px 0;
      transition: ease-in-out 0.1s;
      position: relative;

      .menulist {
        width: 35px;
      }

      ul {
        width: 300px;
        background-color: white;
        overflow: hidden;
        display: none;

        z-index: 100;
        position: absolute;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);

        li {
          padding-left: 5px;
          transition: ease-in-out 0.1s;

          a {
            text-decoration: none;
            color: #242424;
            font-size: 16px;
            font-weight: 500;
          }
        }
        :hover {
          background-color: #0a6cdc;

          a {
            color: #ffff;
          }
        }
      }
    }
    :hover {
      ul {
        display: block;
      }
    }
  }
}

.menu-right {
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;

    li {
      list-style: none;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: #ffff;
      }
    }

    .laguage {
      img {
        width: 10px;
      }

      span {
        padding: 0 5px;
        color: #ffff;
      }
    }

    .max-right {
      margin-right: 30px;
    }
  }
}

// Responsive Website

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Ipad */

  .header-top {
    width: 100%;

    .row {
      padding: 10px 20px;
    }

    .logo-main {
      width: 20%;
    }

    .nav-main {
      width: 40%;

      .nav-search {
        width: 80%;
        height: 40px;

        .search-form {
          width: 50%;
        }

        .search-icon {
          width: 5%;
          a {
            i {
              font-size: 20px;
            }
          }
        }
      }
    }

    .apend-main {
      width: 40%;

      .append {
        width: 100%;

        div {
          padding-left: 10px;
        }

        .number-phone {
          width: 40%;

          a {
            span {
              font-size: 12px;
              a {
                font-size: 14px;
              }
            }
          }
        }

        .header-wishlist {
          width: 20%;
          div {
            img {
              width: 25px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        .header-cart {
          width: 17.5%;

          .cart-list {
            .cart-icon {
              width: 25px;
            }

            .cart-item {
              font-size: 14px;

              .cart-count {
                width: 10px;
                height: 10px;
                padding: 5px 5px;
                right: 0px;
              }
            }
          }
        }
      }
    }
  }

  .main-menu {
    width: 100%;

    .row {
      padding: 10px 20px;
    }
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {
  // Iphone
  .header-top {
    width: 100%;

    .row {
      padding: 10px 20px;
    }

    .logo-main {
      width: 20%;
    }

    .nav-main {
      width: 50%;

      .nav-search {
        width: 80%;
        height: 40px;

        .search-form {
          width: 50%;
        }

        .search-icon {
          width: 5%;
          a {
            i {
              font-size: 20px;
            }
          }
        }
      }
    }

    .apend-main {
      width: 30%;

      .append {
        width: 100%;

        div {
          padding-left: 10px;
        }

        .number-phone {
          display: none;

          a {
            span {
              font-size: 12px;
              a {
                font-size: 14px;
              }
            }
          }
        }

        .header-wishlist {
          width: 20%;
          div {
            img {
              width: 25px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        .header-cart {
          width: 17.5%;

          .cart-list {
            .cart-icon {
              width: 25px;
            }

            .cart-item {
              font-size: 14px;

              .cart-count {
                width: 10px;
                height: 10px;
                padding: 5px 5px;
                right: 0px;
              }
            }
          }
        }
      }
    }
  }

  .main-menu {
    width: 100%;

    .row {
      padding: 10px 20px;
    }
  }
}
