.wideget-content {
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    list-style-type: none;
    font-size: 14px;
    text-transform: initial;
    line-height: 34px;
    letter-spacing: 0.2px;
    border: 0 !important;
    font-weight: 500;
    padding-right: 20px;
  }
}
