$text-black: #202020;

.sidebarContainer {
  display: block;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 5px 0 5px;

  .sidebar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .sidebar-header {
    margin-bottom: 5px;
    border-bottom: 2px solid #fd6506;
    p {
      display: inline-block;
      background-color: #fd6506;
      padding: 7px 20px;
      border-radius: 6px 6px 0 0;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
    }
  }

  .sidebar-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      width: calc(100% / 2 - 1px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      border-right: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      min-height: 72px;

      &:nth-last-child(-n + 2) {
        border-bottom: 0;
      }

      &:nth-child(2n) {
        border-right: 0;
      }

      img {
        max-width: 24px;
        padding-top: 5px;
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
        color: $text-black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
